.form-name {
     font-size: 3rem;
     font-family: "poppins";
}

.details {
     margin-left: 10px;
}

.google-form-main-container {
     justify-content: center;
     align-items: center;
     margin: 5rem 1rem;
     margin-bottom: 21rem;
}
.reg-step-details
{
       margin-bottom: 5rem;
}