body {
    background-image: url('../assets/images/rm380-16.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.step {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.head {
    margin-top: 10%;
    font-family: "poppins";
    font-weight: 600;
    font-size: 3rem;

}

.images,
.step {
    display: inline;
    margin-left: 10%;
}

.images p {
    font-family: "poppins";
    font-size: 2.6rem;
    margin-top: 10px;
    margin-left: 1px;
}

.image {
    width: 50%;
    height: 60%;
}

.payment-step-details {
    list-style:upper-roman;
    margin-left: 4rem;
    margin-top: 2rem;
}

.step-detail {
    font-family: "poppins";
    font-size: 2.6rem;
    font-weight: 600;
    text-align: justify;
    list-style: upper-roman;
}

.step-detail a {
    margin-left: 10px;
    font-size: 2.6rem;
    background: lightpink;
}

.note {
    font-family: "poppins";
    background: rgb(255, 255, 132);
    font-size: 2.6rem;
}

.payment-make-head{
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-top: 12rem;
font-weight: 600;
font-size: 3.5rem ;
background: #d4ea48;
}


.payment-image-1{
    max-width: 80rem;
    height: auto;
    margin: 0 1rem;
    object-fit: contain;
}


.payment-image-2{
    max-width: 50rem;
    height: 60rem;
    margin: 0 1rem;
    object-fit: contain;
}