*{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 2.05rem;
}
.reg-info-part
{
    color: orange;
    font-weight:900 ;
}
.detailsShower
{
  margin-left: 3%;
  padding-top: 8%;
}
.reg-info-heading,.reg-info-part
{
      font-weight: bold;
      font-size: 2.75rem;
      padding-top: 4.25rem;
      margin-left: 250px;
      margin-left: -8% ;
      
}
.reg-info-part{
  margin-left:5px ;
  margin-right:5px;
}
.last-row
{
  margin-right: 100%;
  border-right: none;
}
.text-head
{
  padding-top: 10px;
  text-align: center;
}
.f-aurth
{
  border-right: none;
}
.two-row-col-1
{
  border-bottom: 0px;
  padding: 10px;
  text-align: center;
}
.two-row-col-2
{
  border-top: 0px;
}
table
{
  margin-left:19%;
  width: 55%;
  border-radius: 5%;
  height: 50%;
  
}
td
{
  empty-cells: hide;
}
.reg-table-details , th, td
{
  border: 1.6px solid rgb(43, 79, 105,0.5) ;
  border-collapse: collapse;
  border-radius: 5px;
  font-weight: 500;
}
.col-head
{
font-weight: bold;
}
.offline-head
{
  padding-top: 7rem;
}
.f-aurth-2
{
  border: none;
}
th,td
{
     width: 250px;
     height: 2.4rem;
     text-align: center;
}
@media  only screen and (max-width:702px) {

  .detailsShower{
    padding-top: 25%;
  }
  
}
@media  only screen and (max-width:340px) {

  .detailsShower{
    padding-top: 35%;
  }
  
}